<?xml version="1.0" encoding="UTF-8"?>
<!-- 设置每隔60秒扫描一次该文件，debug: 当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!--定义日志文件的存储位置-->
    <property name="LOG_PATH" value="logs"/>
<!--    <property name="LOG_FILE" value="data-center-proxy.log"/>-->
    <springProperty scope="context" name="LOG_FILE" source="spring.application.name"/>

    <!--控制台输出-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出: %d: 日期; %thread: 线程名; %-5level: 级别从左显示5个字符宽度; %logger: 类名; %M: 方法名; %line: 行号; %msg: 日志消息; %n: 换行符 -->
            <!-- 19:34:48.934 [http-nio-8081-exec-1] WARN  com.study.spring.helloDemo - warn warn warn warn warn warn warn warn -->
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M [%line] - %msg%n</Pattern>
            <!-- 编码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--日志文件输出-->
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--如果是true，日志被追加到文件结尾，如果是false，清空现存文件，默认是true。-->
        <append>true</append>
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- info.2019-08-21.0.log.gz -->
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- 日志的每个文件，大小最大100MB -->
            <maxFileSize>100MB</maxFileSize>
            <!-- 日志所有文件的总大小，如果总大小>1GB，它将删除旧文件 -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- 保留60天的历史纪录 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化日志输出 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M [%line] - %msg%n</pattern>
            <!-- 编码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 设置指定包打印日志级别 -->
    <logger name="com.example" level="INFO" />

    <!--项目所有日志输出设置-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>